.form {
  display: grid;
  grid-template-areas: "search select range";

  gap: 2em;

  @media screen and (max-width: 850px) {
    grid-template-areas:
      "search search search"
      "select select range";
  }
  &__input {
    padding: 0.3em 0.5em;
    width: 100%;
    border-radius: 0.4em;
  }
  &__input--search,
  &__select {
    padding: 0.3em 0.5em;
    border-radius: 0.4em;

    outline: 0.0625rem solid var(--zinc-100);
  }

  &__search {
    width: 100%;
    grid-area: search;
  }
  &__range {
    width: 15em;
    grid-area: range;

    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  &__span {
    width: 12em;
  }
  &__select {
    grid-area: select;
    background-color: transparent;
    color: var(--zinc-100);
  }
  &__option {
    color: var(--zinc-100);
    background-color: #222;
    border-radius: 0.4em;
  }
}
