.header {
  background-color: rebeccapurple;
  padding: 1em;

  &__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  &__link {
    padding: 0.2em 0.4em;
    font-weight: 600;
    border-radius: 0.2em;
  }
}

.active {
  outline: 0.0625rem solid #fff;
}
