<header class="header">
  <nav class="header__nav wrapper">
    <div class="logo">
      <h1 class="logo__text">Sara <span class="logo__span">library</span></h1>
    </div>
    <ul class="header__ul">
      <li class="header__li">
        <a class="header__link" routerLink="/books" routerLinkActive="active">Books</a>
      </li>
      <li class="header__li">
        <a class="header__link" routerLink="/books-saved" routerLinkActive="active">Saved</a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
